* {
    font-family: 'Playfair-Light.ttf';
    margin: 0;
    color: #FFCF66;
    
}
@font-face {
    font-family: 'Playfair-Light.ttf';
    src: url(fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf) format('truetype');
}
@font-face {
    font-family: 'InriaSans-Light.ttf';
    src: url(fonts/InriaSans/InriaSans-Regular.ttf) format('truetype');
}
body {
    background-color: #090909;
    overflow: hidden;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
nav {
    width: 100vw;
    display: flex;
    background-color: #090909;
    color: white;
    padding: 5px 2% 5px 8%;
    box-sizing: border-box;
}
.texto-nombre {
    width: 45%;
    text-align: left;
    font-weight: normal;
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInLeft 1s forwards;
}
@keyframes slideInLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.texto-nombre h2 {
    font-size: 2.5rem;
    font-weight: normal;
    letter-spacing: 2px;
    color: #FFCF66;
}
.menu {
    display: flex;
    width: 45%;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(-50px);
    animation: slideDownFade 1s ease-out forwards
}
@keyframes slideDownFade {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.texto-inicio {
    display: flex;
    justify-content: center;
    width: 100%;
}
.texto-inicio h3 {
    font-size: 1rem;
    font-weight: normal;
    color: #FFFFFF;
}
.texto-catalogo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right: 10px;
}
.texto-catalogo h3 {
    font-size: 1rem;
    font-weight: normal;
    color: #FFFFFF;
}
.texto-contacto {
    display: flex;
    justify-content: center;
    width: 100%;
}
.texto-contacto h3 {
    font-size: 1rem;
    font-weight: normal;
    color: #FFFFFF;
}
.texto-inicio h3:hover,
.texto-catalogo h3:hover,
.texto-contacto h3:hover {
  color: #d4af37; /* tono dorado fino */
}

/* Línea debajo al hacer hover */
.texto-inicio h3::after,
.texto-catalogo h3::after,
.texto-contacto h3::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #d4af37;
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease;
}
.contenedor-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.cuadro-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 65%;
    padding: 20px;
    background: #090909;
    box-sizing: border-box;
    max-height: 700px;
}
.titulo-modal {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 86px;
}
.titulo-modal h1 {
    text-align: center;
    font-size: 2.3rem;
    color: #FFCF66;
    margin: 0;
}
.contenedor-img-info {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 15px;
    min-height: 277px;
}
.contenedor-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.contenedor-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.contenedor-info {
    width: 50%;
    display: grid;
    justify-items: start;
    gap: 10px;
}
.marca p{
    font-size: 1.3rem;
    font-weight: normal;
    color: #FFFFFF;
    margin: 0;
}
.marca h2 {
    font-size: 2rem;
    color: #FFCF66;
    margin: 0;
}
.detalle p {
    font-size: 1.3rem;
    font-weight: normal;
    color: #FFFFFF;
    margin: 0;
}
.detalle h3 {
    font-size: 1.5rem;
    color: #FFCF66;
    margin: 0;
}
.precio-modal p {
    font-size: 1.3rem;
    font-weight: normal;
    color: #FFFFFF;
    margin: 0;
}
.precio-modal h3 {
    font-size: 2rem;
    color: #FFCF66;
    margin: 0;
}
.estilos-boton {
    display: flex;
    justify-content: center;
    font-family: 'InriaSans-Light.ttf';
    height: auto;
    background: #090909;
    border: 2px solid #FFCF66;
    color: #FFCF66;
    font-size: 1.3rem;
    padding: 3%;
    cursor: pointer;
    transition: all 0.3s ease;
}
.estilos-boton:hover {
    background: #FFCF66;
    color: #090909;
    box-shadow: 0 0 8px rgba(255, 207, 102, 0.5);
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: center;
    align-items: center;
}
  
.modal-contenido {
    display: grid;
    justify-items: center;
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}
.modal-contenido h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #FFCF66;
    text-align: center;
}
  
.metodos-pago {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 20px;
}
  
.metodo-pago {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.metodo-pago:hover {
    background-color: #222222;
}
  
.metodo-pago i {
    font-size: 32px;
    margin-bottom: 10px;
    color: #ffffff;
}
.cerrar-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #2c3e50;
}
  
.cerrar-modal:hover {
    color: #FFCF66;
}
.metodo-pago span {
    font-size: 14px;
    color: #FFCF66;
    text-align: center;
}
.modal-agregar {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
  
.modal-contenido-agregar {
    height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}
  
.cerrar-modal-agregar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #FFCF66;
}
  
.cerrar-modal-agregar:hover {
    color: #e74c3c;
}
  
.modal-contenido-agregar h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #FFCF66;
    text-align: center;
}
.boton-pagar {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #ff6875;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}