* {
    font-family: 'Playfair-Light.ttf';
    margin: 0;
    color: #FFCF66;
    
}
@font-face {
    font-family: 'Playfair-Light.ttf';
    src: url(fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf) format('truetype');
}
@font-face {
    font-family: 'InriaSans-Light.ttf';
    src: url(fonts/InriaSans/InriaSans-Regular.ttf) format('truetype');
}
body {
    background-color: #090909;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
nav {
    width: 100vw;
    display: flex;
    background-color: #090909;
    color: white;
    padding: 5px 2% 5px 8%;
    box-sizing: border-box;
}
.texto-nombre {
    width: 45%;
    text-align: left;
    font-weight: normal;
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInLeft 1s forwards;
}
@keyframes slideInLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.texto-nombre h2 {
    font-size: 2.5rem;
    font-weight: normal;
    letter-spacing: 2px;
    color: #FFCF66;
}
.menu {
    display: flex;
    width: 45%;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(-50px);
    animation: slideDownFade 1s ease-out forwards
}
@keyframes slideDownFade {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.texto-inicio {
    display: flex;
    justify-content: center;
    width: 100%;
}
.texto-inicio h3 {
    font-size: 1rem;
    font-weight: normal;
    color: #FFFFFF;
}
.texto-catalogo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right: 10px;
}
.texto-catalogo h3 {
    font-size: 1rem;
    font-weight: normal;
    color: #FFFFFF;
}
.texto-contacto {
    display: flex;
    justify-content: center;
    width: 100%;
}
.texto-contacto h3 {
    font-size: 1rem;
    font-weight: normal;
    color: #FFFFFF;
}
.texto-inicio h3:hover,
.texto-catalogo h3:hover,
.texto-contacto h3:hover {
  color: #d4af37; /* tono dorado fino */
}

/* Línea debajo al hacer hover */
.texto-inicio h3::after,
.texto-catalogo h3::after,
.texto-contacto h3::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #d4af37;
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease;
}
.contenedor-general {
    display: grid;
    width: 100vw;
    background: #000000;
}
.contenedor-texto-finalizar {
    display: flex;
    width: 100%;
    justify-content: center;
}
.contenedor-texto-finalizar h2{
    font-size: 3rem;
    margin: 25px;
    letter-spacing: 2px;
}
.contenedor-informacion-pago {
    display: flex;
    gap: 20px;
    box-sizing: border-box;
    padding: 40px;
}
.contenedor-general-informacion {
    width: 50%;
    display: grid;
    justify-items: center;
    gap: 10px;
}
.img-informacion {
    width: 100%;
    display: flex;
    justify-content: center;
}
.img-informacion img{
    width: 60%;
}
.contenedor-img {
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    gap: 10px;
}
.contenedor-img img {
    width: 100px;
    height: 100px;
}
.contenedor-informacion {
    display: grid;
    gap: 10px;
    justify-items: flex-start;
}
.contenedor-precio-total {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 180px;
}
.nombre-informacion h2 {
    font-size: 3rem;
}
.precio h3 {
    font-size: 2rem;
    color: #FFFFFF;
    font-weight: normal;
}
.precio-descuento {
    gap: 10px;
    display: flex;
}
.precio-descuento p {
    font-size: 2rem;
}
.precio-descuento h4 {
    font-size: 2rem;
    opacity: 0.6;
    text-decoration: line-through;
    color: rgb(255, 48, 89);
    font-weight: normal;
}
.descripcion-informacion {
    display: grid;
    gap: 5px;
}
.descripcion-informacion h1 {
    font-size: 2.1rem;
    font-weight: normal;
    color: #FFFFFF;
}
.descripcion-informacion h2 {
    font-weight: normal;
    font-size: 2rem;
}

.contenedor-pago {
    display: grid;
    width: 50%;
}
.contenedor-metodos-pago {
    display: grid;
    gap: 30px;
}
.texto-metodos-pago {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.texto-metodos-pago h3 {
    font-size: 2.5rem;
    color: #FFFFFF;
    font-weight: normal;
}
.botones-metodos-pago {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
.boton-metodo {
    width: 20%;
}
.boton-metodo img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 12px;
    cursor: pointer;
    transition: 
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}
.mercado-pago:hover {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}
.wompi:hover {
    box-shadow: 0 4px 8px rgba(74, 255, 171, 0.2);
    transform: scale(1.1);
}
.botones-comprar-anadir {
    width: 100%;
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 20px;
}
.boton-comprar {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 36px;
    height: 70px;
    margin: 0 auto;
}
.boton-anadir {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFCF66;
    border-radius: 36px;
    height: 70px;
}
.boton-anadir h2{
    color: #ffffff;
    font-size: 2rem;
    transition: inherit;
}
.boton-comprar h3 {
    font-size: 2rem;
    transition: inherit;
}
.boton-comprar:hover {
    background-color: #000000;
    border-color: #ffc957;
    box-shadow: 0 4px 12px rgba(255, 201, 87, 0.4);
    transform: translateY(-2px);
}
.boton-anadir:hover {
    background-color: #000000;
    border-color: #ffc957;
    box-shadow: 0 4px 12px rgba(255, 201, 87, 0.4);
    transform: translateY(-2px);
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.form-container h2 {
    color: #FFFF;
}
.form-container form {
    display: grid;
}
.form-section label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #ffff;
}
input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 1rem;
    background: #0000;
    
}
.form-section textarea {
    resize: vertical;
    min-height: 80px;
}
.form-section {
    margin-bottom: 20px;
}
@media (width < 900px) {
    .nombre-informacion h2 {
        font-size: 2.5rem;
    }
    .descripcion-informacion h2 {
        font-size: 1.8rem;
    }
}